footer {
    background-color: #2D2E2E;
    padding: 0.625em;
}
.socialsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.twitterLogo {
    width: 2%;
}
.discordLogo {
    width: 2%;
}