footer {
    background-color: #2D2E2E;
    padding: 0.625em;
}
.socialsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.twitterLogo {
    width: 2%;
}
.discordLogo {
    width: 2%;
}
@media screen and (max-width: 1024px) {
    .twitterLogo {
        width: 4%;
    }
    .discordLogo {
        width: 4%;
    }
}
@media screen and (max-width: 768px) {
    .twitterLogo {
        width: 6%;
    }
    .discordLogo {
        width: 6%;
    }
}
@media screen and (max-width: 425px) {
    .twitterLogo {
        width: 6%;
    }
    .discordLogo {
        width: 6%;
    }
}