nav {
    background-color: #2D2E2E;
    display: flex;
    justify-content: space-between;
    padding: 0.6250em;
}
.navUnorderedListRight {
    display: flex;
    align-items: center;
    padding: 0;
}
.navUnorderedListLeft {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 50px;
}
.navList {
    list-style: none;
}

.underline {
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 3px), #BAC1B8 10px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
    padding-bottom: 0.1875em;
}
.underline:hover {
    background-size: 100% 100%;
}

a {
    text-decoration: none;
}
  
.navButton {
    margin-right: 3em;
    padding: 0.5em 1em;
    border-radius: 15px;
    border:1px solid #707070;
    background-color: #2D2E2E;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.navButton:hover {
    background-color: #404040; 
  }

.fym-logo {
    width: 10%;
}

.profil-logo{
    width: 2%;
}

.search-form .search-input {
    background-image: url('/assets/images/magnifying-glass-solid.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    border: 1px solid #707070;
    padding: 0.3125em 0.625em;
    border-radius: 15px;
    margin-bottom: 0.3125em;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
    .navUnorderedListLeft {
        display: flex;
        margin: 0;
        align-items: normal;
        padding: 0;
        gap: 20px;
    }
    .navUnorderedListRight {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .navButton {
        margin-right: 0;
        margin-bottom: 0.3em;
        padding: 0.3em 0.8em;
        border-radius: 15px;
        border:1px solid #707070;
        background-color: #2D2E2E;
        cursor: pointer;
        transition: background-color 0.3s ease; 
    }
    .fym-logo {
        width: 10%;
        padding-bottom: 3.5em;
    }
    
}
@media screen and (max-width: 425px) {
    nav {
        font-size: 0.7rem;
    }
    .navUnorderedListLeft {
        display: flex;
        margin: 0;
        align-items: normal;
        padding: 0;
        gap: 10px;
    }
    .navUnorderedListRight {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .navButton {
        margin-right: 0;
        margin-bottom: 0.3em;
        font-size: 0.7rem;
        padding: 0.3em 0.8em;
        border-radius: 15px;
        border:1px solid #707070;
        background-color: #2D2E2E;
        cursor: pointer;
        transition: background-color 0.3s ease; 
    }
    .fym-logo {
        width: 10%;
        padding-bottom: 5em;
    }
    
}
  
  
  