// CSS de la ContactPage, RegisterPage, LoginPage

* {
    color: #BAC1B8;
}

.backgroundImg {
    background-image: url(../../images/cartographer-1920x1080.png); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 20px;
}
  
.outerContainer {
    background-color: rgba(211, 208, 203, 0.35); 
    padding: 1.875em;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
  
.innerContainer {
    background-color: #2D2E2E;
    padding: 1.25em;
    border-radius: 8px;
    text-align: center;
    
}
  
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: black;

}
  
label {
    margin: 0.625em 0;
    display: block;
    font-weight: bold;
  }
  
input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.3125em;
    margin-bottom: 0.9375em;
    box-sizing: border-box;
    color: black; 
  }
  
.button1 {
    border: none;
    border-radius: 25px;
    padding: 0.625em 1.25em;
    margin: 0.625em 0;
    background-color: #BAC1B8;
    color: #0F0F0F;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: inline-block;
}
  
  .button1:hover {
    background-color: #0F0F0F;
    color: #BAC1B8;
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  }


// css pour le textarea de la contact page
.labelDescribe {
  width: 100%;
  height: 150px;
  padding: 0.5em;
  margin-top: 0.3125em;
  margin-bottom: 0.9375em;
  box-sizing: border-box;
  color: black;
}

select {
  padding: 0.5em;
  color: black;
}

option {
color: black;
}

// css pour l'îcone de profil 
.profileIcon {
  width: 15%;
  border-radius: 8px;
}