// CSS de la ProfilesPage

.backgroundImgNoFlex {
    background-image: url(../../images/cartographer-1920x1080.png); 
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    
    
}

.mainProfilePage {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 3.75em;
}

.outerContainerProfiles {
    background-color: rgba(211, 208, 203, 0.35); 
    padding: 1.875em;
    border-radius: 8px;
    
}

.innerContainerProfiles {
    background-color: #2D2E2E;
    padding: 1.25em;
    border-radius: 8px;
    text-align: center;
}

.profileInfo {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
  }

.profileArticle {
    width: 30%; 
}

.profileIcon {
    width: 15%;
    border-radius: 8px;
}
@media screen and (max-width: 768px) {
    .mainProfilePage {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-bottom: 3.75em;
    }

    .profileArticle {
        width: 80%; 
    }

    .twitterLogo {
        width: 8%;
    }
    .discordLogo {
        width: 8%;
    }
}
@media screen and (max-width: 425px) {
    .mainProfilePage {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-bottom: 3.75em;
    }

    .profileArticle {
        width: 80%; 
    }

    .twitterLogo {
        width: 8%;
    }
    .discordLogo {
        width: 8%;
    }
}