.backgroundImgNoFlex {
    background-image: url(../../images/cartographer-1920x1080.png); 
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    
}

.profileTitle {
    text-align: center;
    margin: 0;
}

.mainProfilePage {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.outerContainer {
    background-color: rgba(211, 208, 203, 0.35); 
    padding: 30px;
    border-radius: 8px;
    
}

.innerContainer {
    background-color: #2D2E2E;
    padding: 20px;
    border-radius: 8px;
}

.profileInfo {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Center items vertically */
    gap: 10px;
  }

.profileArticle {
    width: 30%; /* Adjust the width as needed */  
}

// css pour l'îcone de profil 
.profileIcon {
    width: 15%;
    border-radius: 8px;
  }